<h3 class='text-center py-5'>{{ 'Mes derniers articles'|t }}</h3>
<div class='row justify-content-between'>
  {% for row in rows %}
    {{- row.content -}}
  {% endfor %}
</div>
<div class='button-effects mt-4'>
  <a class='transparent d-flex justify-content-center align-self-baseline' href='/blog'>
    <button class='skewBtn purple px-3 py-1'>{{ 'Voir plus d\'articles' }}</button>
  </a>
</div>
