{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form class='container my-5' {{ attributes }}>
  <div class='input-group'>
    {{ children }}
  </div>
</form>
