{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form {{ attributes.addClass('form-inline d-flex justify-content-center md-form form-sm active-cyan-2') }}>
  <div class='input-group align-items-center'>
    {{ children }}
  </div>
</form>
