{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class='input-group-append'>
  <button class='btn' {{ attributes }}>
    <i class='fa fa-search'></i>
  </button>
</div>
