{% for item in items %}
  <form action='/blog' method='post'>
    <input type='hidden' name='tag' value='{{ item.content['#termID'] }}' />
    <button type='submit' class='tag-post'>
      <a href='/blog'>
        <span class='tag p-2 mx-2'>
          {{ item.content['#termName'] }}
        </span>
      </a>
    </button>
  </form>
{% endfor %}
