<div class='node-article container'>
  <h2 class='m-3'>{{ label }}</h2>
  {{ content.field_image }}
  <div class='d-flex flex-row align-items-center my-5'>
    <i class='fa fa-tags fa-lg' aria-hidden='true'></i>
    {{ content.field_tags }}
  </div>
  <div class='text-justify mt-4'>
    {{ content.field_contenu }}
  </div>
</div>
