<div class='node-article node-article-teaser container col-lg-3 border rounded p-0 mt-4 mx-3'>
  <a href='{{ url }}'>
    <div class='hover08 column'>
      <figure>
        {{ content.field_image }}
      </figure>
    </div>
    <div class='p-3 d-flex flex-column'>
      <h4 class='my-3 h4'>{{ label }}</h4>
      <div class='date my-2'>
        {{ 'Publié le ' }}{{ node.getCreatedTime()|date('d/m/Y') }}
      </div>
      <div class='text-justify mt-3'>
        {{ content.field_contenu }}
      </div>
    </div>
  </a>
</div>
