<div class='node-site-portfolio container'>
  <div class="logo">
    {{ content.field_logo }}
  </div>
  <h2>{{ label }}</h2>
  {{ content.field_url }}
  <div class="contenu">
    {{ content.field_contenu }}
  </div>
  <div class='swiper-container' id='images'>
    <div class='swiper-wrapper'>
      {{ content.field_images }}
    </div>
    <div class='swiper-button-next swiper-button-next'></div>
    <div class='swiper-button-prev swiper-button-prev'></div>
  </div>
</div>
