<div class='node-article container col-lg-3 border rounded p-0 mt-4 mx-1 caption-style-4'>
  <a href='{{ url }}' class='my-3 h5'>
    <div class='hover11 column'>
      <figure>
        {{ content.field_image }}
      </figure>
    </div>
    <div class='p-3'>
      {{ label }}
    </div>
  </a>
</div>
