{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <div class='navbar-collapse'>
            <ul{{ attributes.addClass(['nav navbar-nav offset-lg-3']) }}>
        {% else %}
            <ul>
        {% endif %}
        {% for item in items %}
            {%
                set classes_link = [
                'nav-link',
                item.is_expanded ? 'drdopdown-toggle',
                item.is_collapsed ? 'dropdown-toggle',
                item.in_active_trail ? 'active',
            ]
            %}
            <li{{ item.attributes.addClass('nav-item') }}>
                {{ link(item.title, item.url, { 'class': classes_link }) }}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        </div>
    {% endif %}
{% endmacro %}
