<div class='col-lg-6 my-2'>
    <div class='col-12 border border- rounded p-2 d-flex flex-column justify-content-around'>
        <h3 class='my-2 ml-3'>{{ content.field_texte_principal }}</h3>
        <div class='row'>
            <div class='col-lg-3 d-flex align-self-center ml-2 mr-4'>
                {{ content.field_image }}
            </div>
            <div class='col-lg-8 pr-3'>
                {{ content.field_texte_long_principal }}
            </div>
        </div>
        <div class='see-more d-flex flex-column align-items-end'>
            <a class='btn btn-' href='{{ content.field_lien.0 }}'>{{ 'En savoir plus'|t }}</a>
        </div>
    </div>
</div>
