<figure class="effect-lily">
  {{ content.field_image }}
  <figcaption>
    <div>
      <h2 style='color: {{ content.field_couleur_du_texte }}'>{{ content.field_texte_principal }}</h2>
    </div>
    {{ content.field_lien }}
  </figcaption>
</figure>
