<div class='strate-couleur-texte container-fluid d-flex align-items-lg-center'
     style='background-color: {{ content.field_couleur_de_fond.0 }}'>
    <div class='container'>
        {{ content.field_textes }}
    </div>
</div>