<div class='swiper-slide'>
  <div class='row justify-content-center text-break align-items-center'>
    {{ content.field_image }}
    {% if content.field_texte_principal.0 is not empty %}
      <div class='col-lg-6 my-5' {% if content.field_image.0 is not empty %}style='top: 60%; position: absolute;'{% endif %}>
        <h4>{{ content.field_texte_principal }}</h4>
        {{ content.field_texte_long_principal }}
      </div>
    {% endif %}
  </div>
</div>
