<div class='row {{ content.field_alignement_du_texte.0 }}'>
    <{{ content.field_taille_de_police.0 }} style="color: {{ content.field_couleur_du_texte.0 }};">
        {{ content.field_texte_principal }}
    </{{ content.field_taille_de_police.0 }}>
</div>