<div class='strate-swiper d-flex align-items-lg-center my-5' id='{{ paragraph.id() }}'>
    <div class='container my-3'>
      <h3 class='text-center py-2'>{{ content.field_texte_principal }}</h3>
        <div class='swiper-container swiper-{{ paragraph.id() }} mt-4'>
            <div class='swiper-wrapper'>
                {{ content.field_swiper_element }}
            </div>
            {% if '1' in content.field_bulletpoints.0 %}
                <div class='swiper-pagination'></div>
            {% endif %}
            {% if '1' in content.field_navigation.0 %}
                <div class='swiper-button-next swiper-button-next-{{ paragraph.id() }}'></div>
                <div class='swiper-button-prev swiper-button-prev-{{ paragraph.id() }}'></div>
            {% endif %}
        </div>
    </div>
</div>
