.node-article-teaser {
  box-shadow: 0 2px 4px 0 rgba(50,50,93,0.1);
  p {
    display: inline;
  }
  .text-justify {
    line-height: 1;
  }
  .date {
    color: $gray-500;
    font-size: 13px;
    font-weight: 400;
  }
}

.node-article {
  a {
    font-family: 'Poppins', sans-serif;
    &:hover {
      text-decoration: none;
    }
  }
  .tag {
    color: $adsy-blue;
    background-color: $adsy-white;
    border: 0.05rem solid $adsy-blue;
    border-radius: 2%;
  }
  .fa-tags {
    color: $adsy-dark-blue;
  }
  .tag-post{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    padding:0;
    font-family:inherit;
    font-size:inherit;
  }
}

.view-id-articles {
  .view-header {
    color: $adsy-orange;
    font-weight: 700;
  }
  #views-exposed-form-articles-blog {
    .form-checkboxes {
      label {
        margin-right: 25px;
      }
    }
  }
}
