/* Buttons */

.btn {
  color: $adsy-white;
  background-color: $adsy-blue;
  border-color: $adsy-blue;
  border-radius: 0;
  &:hover {
    color: $adsy-light-blue;
    text-decoration: none;
  }
}

.button-effects {
  min-height: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  .skewBtn {
    position: absolute;
    outline: none;
    cursor: pointer;
    background: none;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 16px;
    border-radius: 5px;
    font-family: "Poppins",sans-serif;
    &.purple {
      border: 2px solid $adsy-blue;
      color: $adsy-blue;
      &:hover {
        background-color: $adsy-blue;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
    &:hover {
      border: none;
      color: white;
      font-size: 18px;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}
