footer {
  background-color: $adsy-blue;
  color: $adsy-white;
  width: 100%;
  height: auto;
  a {
    color: $adsy-white;
  }
}

.social-btns {
  .btn.facebook {
    &:before {
      background-color: #3b5998;
    }
    .svg-inline--fa {
      color: #3b5998;
    }
  }
  .btn.twitter {
    &:before {
      background-color: #3cf;
    }
    .svg-inline--fa {
      color: #3cf;
    }
  }
  .btn.google {
    &:before {
      background-color: #dc4a38;
    }
    .svg-inline--fa {
      color: #dc4a38;
    }
  }
  .btn.dribbble {
    &:before {
      background-color: #f26798;
    }
    .svg-inline--fa {
      color: #f26798;
    }
  }
  .btn.skype {
    &:before {
      background-color: #00aff0;
    }
    .svg-inline--fa {
      color: #00aff0;
    }
  }
  .btn.drupal {
    &:before {
      background-color: #1678be;
    }
    .svg-inline--fa {
      color: #1678be;
    }
  }
  .btn.linkedin {
    &:before {
      background-color: #1877b4;
    }
    .svg-inline--fa {
      color: #1877b4;
    }
  }
  .btn.gitlab {
    &:before {
      background-color: #faa227;
    }
    .svg-inline--fa {
      color: #faa227;
    }
  }
  .btn {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    display: inline-block;
    background-color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 10px;
    padding: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
    &:before {
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
      -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
      transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
      top: 90%;
      left: -110%;
      content: '';
      width: 120%;
      height: 120%;
      position: absolute;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .svg-inline--fa {
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
      -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
      transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      font-size: 38px;
      vertical-align: middle;
    }
    &:focus {
      &:before {
        top: -10%;
        left: -10%;
      }
      .svg-inline--fa {
        color: #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    &:hover {
      &:before {
        top: -10%;
        left: -10%;
      }
      .svg-inline--fa {
        color: #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
  height: auto;
  margin: auto;
  font-size: 0;
  text-align: center;
}
