body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: $adsy-white;
  .logo {
    margin-right: 1rem;
    img {
      max-width: fit-content;
    }
  }
  .navbar {
    width: 100%;
    ul {
      width: 100%;
      place-content: space-around;
      text-transform: uppercase;
      font-weight: 700;
      a {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 60px;
  margin: 30px 0;
}

h2 {
  font-size: 34px;
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
  color: $adsy-dark-blue;
}

p {
  color: $black;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

a {
  color: $adsy-dark-blue;
  &:hover {
    color: $adsy-light-blue;
  }
}

img {
  height: auto;
  width: auto;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.breadcrumb {
  margin-bottom: 0;
}

@media (max-width: $screen-min) {
  header {
    flex-direction: column;
    align-items: center;
    .logo {
      margin-right: 0;
    }
    .names {
      flex-direction: column;
      margin: 10px 0;
    }
    .navbar {
      border-top: 0.5px solid $adsy-light-blue;
      padding-top: 10px;
      justify-content: center;
      text-align: center;
    }
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
}
