/* Common style */
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/* Individual effects */
/*---------------*/
/***** Lily *****/
/*---------------*/
.grid {
  position: relative;
  padding: 1em 0 4em;
  list-style: none;
  text-align: center;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: $adsy-dark-purple;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.8;
    }
    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &::before {
        pointer-events: none;
      }
      &::after {
        pointer-events: none;
      }
      >a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
    h2 {
      word-spacing: -0.15em;
      font-weight: 600;
      margin: 0;
      span {
        font-weight: 800;
      }
    }
    p {
      margin: 0;
      letter-spacing: 1px;
      font-size: 68.5%;
    }
  }
}

figure.effect-lily {
  img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
  }
  figcaption {
    text-align: left;
    >div {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2em;
      width: 100%;
      height: 50%;
    }
  }
  h2 {
    font-family: 'Raleway', sans-serif;
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
    font-size: 22px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
  }
  p {
    font-family: 'Raleway', sans-serif;
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
    color: rgba(255,255,255,0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
  }
  &:hover {
    img {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    p {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transition-duration: 0.35s;
      transition-duration: 0.35s;
    }
    h2 {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }
  @media (max-width: $screen-min) {
    img {
      opacity: 0.85;
    }
    h2 {
      -webkit-transform: translate3d(0,10px,0);
    }
  }
}

.column {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
  div {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 0 0 0 25px;
    padding: 0;
    &:first-child {
      margin-left: 0;
    }
    span {
      position: absolute;
      bottom: -20px;
      left: 0;
      z-index: -1;
      display: block;
      width: 300px;
      margin: 0;
      padding: 0;
      color: #444;
      font-size: 18px;
      text-decoration: none;
      text-align: center;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      opacity: 0;
    }
  }
  figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    &:hover+span {
      bottom: -36px;
      opacity: 1;
    }
  }
}

.hover08 {
  figure {
    img {
      -webkit-filter: grayscale(60%);
      filter: grayscale(60%);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    &:hover {
      img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
  }
}

.hover11 {
  figure {
    img {
      opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    &:hover {
      img {
        opacity: .5;
      }
    }
  }
}

