.navbar {
  .block-search {
    form {
      .form-actions {
        margin: 0;
      }
    }
  }
}

#search-form {
  label {
    display: none;
  }
  .container-inline {
    display: flex;
    flex-direction: row;
  }
}

.search-help-link {
  display: none;
}

.search-advanced {
  display: none;
}

.search-page {
  h2 {
    display: none;
  }
}

.search-result__title {
  width: fit-content;
}

.search-results {
  .search-result__info {
    font-size: 13px;
    color: $gray-600;
  }
  .titre {
    width: auto;
    min-width: 400px;
    border-bottom: 1px solid $adsy-blue;
  }
  a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
  }
}
