.node-site-portfolio {
  background-color: $adsy-grey;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;

  .logo {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  > a {
    margin: 20px 0;
    text-decoration: underline;
  }

  .contenu {
    padding: 20px 0;
    width: 70%;
  }

  .swiper-container {
    width: 100%;
    height: 100%;

    .swiper-slide {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
      }
    }
  }
}


.view-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .effect-lily {
    margin: 0 0 20px;
    h2 {
      background-color: #457b9d;
      width: fit-content;
      padding: 10px;
    }
    @media (max-width: 480px) {
      min-width: unset;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
  }
}
