.strate-swiper {
  border-top: 0.7px solid $adsy-blue !important;

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: unset !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img {
      filter: blur(0.15rem);
      transform: scale(1.05);
      transition: 0.5s;
      &:hover {
        filter: blur(0);
        transform: scale(1);
        transition: 0.5s;
      }
    }
    @media (max-width: $screen-min) {
      img {
        filter: blur(0);
        transform: scale(1);
      }
    }
  }
}

.view-display-id-page_accueil {
  border-top: 0.7px solid $adsy-blue !important;
}
