.strate-cards {
  .col-12 {
    min-height: 300px;
    h3 {
      color: $adsy-dark-blue;
    }
    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: $screen-min) {
  .strate-cards {
    img {
      width: 25%;
    }
    p {
      font-size: 14px;
    }
  }
}

