// Define new variables.

$adsy-white: #fff !default;

$adsy-orange: #e63946 !default;

$adsy-blue: #457b9d !default;
$adsy-light-blue: #a8dadc !default;
$adsy-dark-blue: #1d3557 !default;

$adsy-dark-purple: #050054c4 !default;

$adsy-grey: #e9ecef !default;

// Media query
$screen-min: 992px;
